<div id="navbar" class="navigation-bar">
  <div class="navigation-bar__inner container">

    <div class="navigation-bar__brand">

    </div>
    <div class="navigation-bar__links">
      <ul class="navigation-bar__ul">
        <li class="navigation-bar__li" id="navbar_home">
          <router-link to="/" class="navigation-bar__link">
            <i aria-hidden="true"  class="navigation-bar__link-icon fa fa-home"></i>
            <span class="navigation-bar__link-label">{{ $t('buttons.home') }}</span>
          </router-link>
        </li>
        <li class="navigation-bar__li" id="navbar_about">
          <router-link to="/about" class="navigation-bar__link">
            <i aria-hidden="true"  class="navigation-bar__link-icon fa fa-info-circle"></i>
            <span class="navigation-bar__link-label">{{ $t('buttons.about') }}</span>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</div>
